In [377]:
import pandas as pd
import numpy as np

In [378]:
s = "092021"
d = '34'

In [379]:
data = pd.read_csv("dates.csv", names=['date'], header=None)
data.head()

         date
0  28-12-2021
1  03-12-2021
2  03-12-2021
3  03-12-2021
4  09-12-2021

### Adds leading zero to the date if single digit

In [380]:
data['date'] = data['date'].apply(lambda x: str(x).zfill(10))
data.head()

         date
0  28-12-2021
1  03-12-2021
2  03-12-2021
3  03-12-2021
4  09-12-2021

### Adds month and year

data['date'] = data['date'].apply(lambda x: str(x) + s)
data.head()

## Convert to datetime w/o time

In [381]:
data['date'] = pd.to_datetime(data['date'], format='%d-%m-%Y')
data.head()

        date
0 2021-12-28
1 2021-12-03
2 2021-12-03
3 2021-12-03
4 2021-12-09

data['date'] = data['date'].apply(lambda x: str(x) + ' 00:00:00')
data.head()

pd.to_datetime(s).dt.strftime('%y-%m-%d %h:%I:%s')

### Convert datetime to string

In [382]:
data.date = data.date.dt.strftime("%Y-%m-%d %H:%M:%S")
data.head()

                  date
0  2021-12-28 00:00:00
1  2021-12-03 00:00:00
2  2021-12-03 00:00:00
3  2021-12-03 00:00:00
4  2021-12-09 00:00:00

In [383]:
data.date.to_csv("date" + d + '.csv', index=False, header=False)