In [502]:
import pandas as pd
import numpy as np

In [503]:
i = 56

In [504]:
data = pd.read_csv("product.csv", names=['name'], sep="~")
data.head()

                                                name
0  Banarasi Kurta, Tulip pant Chiffon Dupatta, Ye...
1  Purple Satin Blouse padded (V neck), Black blo...
2          Black Sari conversion to Crop top & Skirt
3       Golden mermaid sari and blouse (Lata-Jaanvi)
4          Saree Conversion into Gown and 3 dresses

In [505]:
# splits around >
# data = data.name.str.split(pat='>', expand=True, n=-1).drop(1, 1)
# data.head()

In [506]:
# splits around (
data = data.name.str.split(pat='(', expand=True, n=1)
data.head()

,0,1
0,"Banarasi Kurta, Tulip pant Chiffon Dupatta, Ye...",None
1,Purple Satin Blouse padded,"V neck), Black blouse alteration"
2,Black Sari conversion to Crop top & Skirt,None
3,Golden mermaid sari and blouse,Lata-Jaanvi)
4,Saree Conversion into Gown and 3 dresses,None

In [507]:
# remove first occurence of ) from last col
data[1] = data[1].apply(lambda x: x.replace(")","",1) if x != None else x)

### Remove all the occurrence of " and ' form the columns

In [508]:
data[1] = data[1].apply(lambda x: x.translate(dict.fromkeys(map(ord, u"\'\""))) if x != None else x)
data.head()

,0,1
0,"Banarasi Kurta, Tulip pant Chiffon Dupatta, Ye...",None
1,Purple Satin Blouse padded,"V neck, Black blouse alteration"
2,Black Sari conversion to Crop top & Skirt,None
3,Golden mermaid sari and blouse,Lata-Jaanvi
4,Saree Conversion into Gown and 3 dresses,None

In [509]:
data.to_csv('product\\nameSize' + str(i) + '.csv', index=None, header=None)