In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("PaymentShip.csv", names=['aaaa'], header=None)
data.sample(5)

                     aaaa
2976        BHL (Prepaid)
4287    Trackon (Prepaid)
1217      Dehlivery (COD)
4111    Trackon (Prepaid)
806   Dehlivery (Prepaid)

map function to the pandas columns,
define function
add list as new column

In [11]:
s = data.aaaa.map(lambda x: "COD" if "cod" in x.lower() else "PREPAID")
s[18]

'COD'

In [12]:
data['payment'] = s
data.sample(5)

                     aaaa  payment
1492  Dehlivery (Prepaid)  PREPAID
1994        BHL (Prepaid)  PREPAID
3653        BHL (Prepaid)  PREPAID
4083   IndiaPost(Prepaid)  PREPAID
21          Pickrr (PAID)  PREPAID

In [20]:
a = "ASdfgh (jkl) Dsfa"
"".join(a.lower().split())

'asdfgh(jkl)dsfa'

In [21]:
s2 = data.aaaa.map(lambda x: 0 if "shoppickup" in "".join(x.lower().split()) else 1)
s2

0       1
1       0
2       1
3       1
4       1
       ..
4291    1
4292    1
4293    1
4294    1
4295    1
Name: aaaa, Length: 4296, dtype: int64

In [26]:
data['ship'] = s2
data = data.drop('aaaa', axis=1)
data

      payment  ship
0     PREPAID     1
1     PREPAID     0
2     PREPAID     1
3     PREPAID     1
4     PREPAID     1
...       ...   ...
4291  PREPAID     1
4292  PREPAID     1
4293  PREPAID     1
4294  PREPAID     1
4295  PREPAID     1

[4296 rows x 2 columns]

In [27]:
data.to_csv("fixedPaymentShip.csv", header=None, index=None)