In [1]:
import pandas as pd
import numpy as np

In [10]:
data = pd.read_csv("D://vipin//notebooks/Addresses.csv", sep = "!@#$", header=None, names=['Address'], engine='python')
data[110:111]

                                               Address
110  "FAZL-E-MUBARAK", KOYYODANCHAL, P.O. KOODALI, ...

In [11]:
data = data.apply(lambda x: x.replace("\"", "", regex=True) if not x.empty else x)
data[110:111]

                                               Address
110  FAZL-E-MUBARAK, KOYYODANCHAL, P.O. KOODALI, KA...

In [12]:
data.to_csv('AddressesFixed.csv', index=None, header=None)