In [1]:
import pandas as pd
import numpy as np

In [2]:
i =3

In [13]:
data = pd.read_csv("D:\\vipin\\notebooks\\product\\nameSize" + str(i) + ".csv", header=None, names=['name', 'size'])
data.head()

                                                name size
0  torquise Double Flared, pearl at neck, elbow S...    S
1                               Pink High Low Kurti     L
2                       Red Kurti with Sparkle Work     L
3                                  Green Boho Kurti     S
4                      Sea grean Flared Sleeves top    XL

In [18]:
# replace ',' with '-'
data = data.apply(lambda x: x.replace(",", "-") if not x.empty else x)
data

                                                 name        size
0   torquise Double Flared, pearl at neck, elbow S...           -
1                                Pink High Low Kurti            L
2                        Red Kurti with Sparkle Work            L
3                                   Green Boho Kurti            -
4                       Sea grean Flared Sleeves top           XL
..                                                ...         ...
59                                      Mermaid gown            -
60                                       Floral Maxi            -
61                                    Margrita Dress            -
62                 Stitching of 7 blouses and 4 suits         NaN
63                           7 BLOUSES for Stitching   Size given

[64 rows x 2 columns]